<%- include('partials/header') -%>
<body>
<%- include('partials/navbar') %>
  <div class="main container">
    <h1>It's me, the feed page!</h1>
    <div class="feed grid">
      <% for (let i = 0; i < posts.length; i++) {%>
      <a href="/posts/<%=posts[i]._id%>"><li><%= posts[i].title%></li></a>
      <% } %>
    </div>
  </div>
</body>
</html>